* {
    border: none;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Hack, FontAwesome, Noto Sans CJK;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
    border-radius: 0px;
}

window#waybar {
	color: #f4d9e1;
	background: rgba(30, 30, 46, 0.38);
}

/* general theme - can modify individual modules if chosen to do so below */
#workspaces, #custom-power, #clock, #custom-weather, #window, #custom-uptime, #battery, #pulseaudio, #network, #memory, #cpu, #temperature {
	background: rgba(40, 40, 40, 0.75);
        padding: 3px 10px 3px 10px;
	margin: 4px 0px 4px 0px;
	border: solid 0px #f4d9e1;
}

/* WORKSPACES */
#workspaces {
	padding: 5px 5px;
	margin-left: 8px;
	border-radius: 16px;
}

#workspaces button {
    	color: #928374;
	padding: 5px 5px;
    	border-radius: 16px;
}

#workspaces button.active {
    	color: #f4d9e1;
    	background-color: transparent;
    	border-radius: 16px;
}

#workspaces button:hover {
	color: black;
	background-color: #E6B9C6;
	border-radius: 16px;
}
/* WORKSPACES END */

/* MODULES LEFT */
#custom-power {
	color: #f4d9e1;
	background-color: #3a4c40;
	margin-left: 4px;
	border-radius: 16px 0px 0px 16px;
}

#clock {
    	color: #E6B9C6;
	border-radius: 0px 16px 16px 0px;
}

#custom-weather {
    	color: #E6B9C6;
    	border-radius: 0px 16px 16px 0px;
}
/* MODULES LEFT END */

/* MODULES MIDDLE */
#window {
    	border-radius: 16px;
}
/* MODULES MIDDLE END */

/* MODULES RIGHT */
#pulseaudio {
	border-radius: 16px 0px 0px 16px;
}

#pulseaudio.muted {
    	color: #928374;
}

#battery {
	color: #85C285;
}

#battery.charging {
    	color: #9ece6a;
}

#battery.warning:not(.charging) {
    	color: #24283b;
    	background-color: #f7768e;
}

#cpu {
	color: #FFCC99;
}

#temperature {
	color: #CEC2EB;
	margin-right: 4px;
	border-radius: 0px 16px 16px 0px;
}
/* MODULES RIGHT END */
