* {
    border: none;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Hack, FontAwesome, Noto Sans CJK;
    font-size: 12px;
    font-style: normal;
    min-height: 0;
    border-radius: 0px;
}

window#waybar {
	color: #f4d9e1;
	background: rgba(30, 30, 46, 0.38);
}

/* general theme - can modify individual modules if chosen to do so below */
#workspaces, #custom-power, #clock, #custom-weather, #window, #custom-uptime, #battery, #pulseaudio, #backlight, #network, #memory, #cpu, #temperature, #tray {
	background: rgba(40, 40, 40, 0.75);
        padding: 3px 8px 3px 8px;
	margin: 4px 0px 4px 0px;
	border: solid 0px #f4d9e1;
}

/* WORKSPACES */
#workspaces {
	padding: 5px 5px;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 8px;
}

#workspaces button {
    	color: #928374;
	padding: 5px 5px;
    	border-radius: 8px;
}

#workspaces button.active {
    	color: #f4d9e1;
    	background: #3a4c40;
    	border-radius: 8px;
}

#workspaces button:hover {
	color: #f4d9e1;
	background: #3a4c40;
	border-radius: 8px;
}
/* WORKSPACES END */

/* MODULES LEFT */
#custom-power {
	color: #f4d9e1;
	background-color: #3a4c40;
	margin-left: 4px;
	border-radius: 8px 0px 0px 8px;
}

#clock {
	margin-left: 8px;
	border-radius: 8px 8px 8px 8px;
}

#custom-weather {
    	color: #E6B9C6;
    	border-radius: 0px 8px 8px 0px;
}
/* MODULES LEFT END */

/* MODULES MIDDLE */
#window {
	margin-right: 8px;
	margin-left: 0px;
	border-radius: 0px 8px 8px 0px;
}
/* MODULES MIDDLE END */

/* MODULES RIGHT */
#pulseaudio {
	border-radius: 8px 0px 0px 8px;
}

#pulseaudio.muted {
    	color: #928374;
}

#battery {
	color: #85C285;
}

#battery.charging {
    	color: #9ece6a;
}

#battery.warning:not(.charging) {
    	color: #24283b;
    	background-color: #f7768e;
}

#pulseaudio {
	color: #DDE4ED;
}

#custom-uptime {
	color: #CCDBE9;
}

#cpu {
	color: #B4C9DD;
}

#memory {
	color: #EDE1DB;
}

#temperature {
	color: #F1B3A1;
	margin-right: 4px;
	border-radius: 0px 8px 8px 0px;
}

#tray {
	margin-right: 4px;
	border-radius: 8px;
}
/* MODULES RIGHT END */
